<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linda.module_video_detail">

    <application>

        <activity
            android:name=".ui.VideoDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.BrowsePictureActivity" />

    </application>

</manifest>